.postsSection {
  padding: 0;
  margin: 40px 20px;
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  gap: 65px;
}

.line {
  display: block;
  unicode-bidi: isolate;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: auto;
  -webkit-margin-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}